@model PS01.Models.ProductType

@{
    ViewBag.Title = "Detalles del tipo de producto";
}


<section id="contact" class="contact">
    <div class="container info">

        <div class="section-title">
            <span>@ViewBag.Title</span>
            <h2>@ViewBag.Title</h2>
        </div>

        <dl class="dl-horizontal">
            <dt>
                @*   @Html.DisplayNameFor(model => model.TypeName)*@Tipo de producto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeName)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>


    </div>
</section>
