@model PS01.Models.Support

@{
    ViewBag.Title = "Detalles del soporte";
}


<section id="contact" class="contact">
    <div class="container info">

        <div class="section-title">
            <span>@ViewBag.Title</span>
            <h2>@ViewBag.Title</h2>
        </div>

        <dl class="dl-horizontal">
            <dt>
                Fecha
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                Descripción del problema
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProblemDescription)
            </dd>

            <dt>
                Solución
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Solution)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>


    </div>
</section>